-
  var reviews = [
    {
      name: "Кирилл Агапьев",
      photo: `${pathContentImg}review-1.jpg`,
      booksCount: "35",
      review: "Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!"
    },
    {
      name: "Елизавета Марьина",
      photo: `${pathContentImg}review-2.jpg`,
      booksCount: "76",
      review: "Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек"
    },
    {
      name: "Полина Аленичева",
      photo: `${pathContentImg}review-3.jpg`,
      booksCount: "35",
      review: "Удобный каталог, полезные отзывы на книги, так же есть видео обзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену."
    }
  ]