section.book 
    .container 
        .book__wrapper 
            include book-picture            
            .book__inner 
                include book-title                
                .book__description
                    include book-information
                    include book-annotation
                    
